body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

header {
    background-color: #1e1e1e;
    padding: 2rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 700;
}

#search {
    width: 100%;
    padding: 0.75rem;
    margin: 1rem 0;
    font-size: 1rem;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

#filters {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

#filters button {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
}

#filters button:hover,
#filters button.active {
    background-color: #007BFF;
}

main {
    padding: 2rem 0;
}

.pattern {
    background: #1b5e20;
    margin: 1rem 0;
    padding: 1.5rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.pattern h2 {
    margin-top: 0;
    font-size: 2rem;
    font-weight: 700;
}

.pattern h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #b9f6ca;
}

.pattern p {
    font-size: 1.1rem;
    line-height: 1.6;
}

.pattern pre {
    background: #2e7d32;
    padding: 1rem;
    border-radius: 5px;
    overflow-x: auto;
    color: #fff;
}

.pattern img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1rem 0;
}

footer {
    background-color: #1e1e1e;
    padding: 1rem 0;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}
